*{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: whitesmoke;
    display: flex;
}
.container{

    height: 100vh;
    width: 100%;

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    z-index: 3;
    width: 100%;
}
.icons{
    cursor: pointer;
}
.nav{
    display: flex;
    padding: 0 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}
.nav-links ul li::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: lightgreen;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}

.logo{
    color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 22px;
    padding: 0 6%;
}
.username{
    margin: 10vh auto;
    width: 300px;
    color: whitesmoke;
    font-size: larger;
}
.main{
    width: 50em;
    margin: 10vh auto;
    /*background: darkgray;*/
    background: transparent;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.main-right{
    border-radius: 20px;
    padding-right: 2em;

}
.main-right .frame {
    width: 300px;
    height: 250px;
    margin: auto;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:transparent;
    border-radius: 20px;
    border: 0;
    row-gap: 10px;

}
.main-right .frame img{
    width: 55%;
    height: 80%;
    border-radius: 20px;

}
.main-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-evenly;
    row-gap: 0.15em;
    padding-left: 2em;
}
.main-left p{
    font-family: "Open Sans", "Sans Serif Collection", sans-serif;
    border-bottom: 2px rgba(255,255,255, 10%) solid;
    margin: 0.2em 0;
}
.main-left span, .main-right span{
    color: lightgreen;
    ;
    font-family: Rubik, "Open Sans", "Sans Serif Collection", sans-serif;
    font-size: larger;
}
.cards{
    display: flex;
    justify-content: center;
}
.card{
    width: 250px;
    height: 20vh;
    background: whitesmoke;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 60px 40px -7px;
}
.card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.card:hover{
    transform: scale(1.1);
    transition-duration: 0.7s;
}
.username .color{
    color: lightgreen;
}

@media (max-width: 898px) {
    .main {
        width: 80%;
        /*background: darkgray;*/
        flex-direction: column-reverse;
    }
    .cards{
        padding-bottom: 10em;
    }


}
