body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, #434343, #000000);
    font-family: "Open Sans", "Open Sans", "Sans Serif Collection", sans-serif;

}
.login-container{
    width: 40%;
    height: 60%;
    border: 1px solid transparent ;
    border-radius: 10px;
    background: transparent;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


}
.login-container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.login-container .input{
    display: block;
}
.login-container .input:focus{
    outline: none;
}

.login-container #login-button{
    width: 50%;
    padding: 10px 0;
    color: whitesmoke;
    background: linear-gradient(90deg,lightgreen, darkgreen);
    border-radius: 20px;
    border: 0;
    margin: 20px 0;
    display: block;
}
.login-container #login-button:hover{
    background: linear-gradient(140deg,lightgreen,green);
}

@media (max-width:1000px ){
    .login-container{
        width: 300px;
    }
}
@media (min-width: 1000px) {
    .login-container{
        width: 300px;
    }
}
