*{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: whitesmoke;
    display: flex;
}
.container{

    height: 100vh;
    width: 100%;

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    z-index: 3;
    width: 100%;
}
.nav{
    display: flex;
    padding: 0 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}
.nav-links ul li::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: lightgreen;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}

.logo{
    color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 22px;
    padding: 0 6%;
}
.title{
    text-align: center;
    margin-top: 50px;
}
.title .color{
    color: lightgreen;
}
.form{
    margin: 10vh auto;
    background:#d9d9d9 ;
    color: #0f0c29;
    border: none;
    border-radius: 10px;
    width: 750px;
    height: 40%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.form p{
    text-align: center;
    padding-top: 40px;
    margin-bottom: -40px;
    font-size: x-large;
    font-family: Rubik,"Open Sans", sans-serif;

}
.form form{
    display: flex;
    flex-direction: column;
    padding: 5rem;
    height: 100%;
}
.form form label{
    padding: 1rem;
}
.form form .submit{
    width: 20%;
    margin: 20px auto;
    border-radius: 5px;
    border:1px solid rgba(0,0,0,20.9%) ;
    font-size: large;
    padding: 5px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.form form .submit:hover{
    background: lightgreen;
    transform: scale(1.05);
    transition-duration: 0.7s;
}
.form form input[name="amount"]{
    width: 100px;
    font-size: large;
    border-radius: 5px;
    border:1px solid rgba(0,0,0,20.9%);
    padding: 5px 2px;
}
.form form input[name="name"]{
    font-size: large;
    border-radius: 5px;
    border:1px solid rgba(0,0,0,20.9%);
    padding: 5px 2px;
}
.cards{
    display: flex;
    justify-content: center;
}
.card{
    width: 250px;
    height: 20vh;
    background: whitesmoke;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 60px 40px -7px;
}
.card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.card:hover{
    transform: scale(1.1);
    transition-duration: 0.7s;
}

