*{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: whitesmoke;
    display: flex;
}
.container{

    height: 100vh;
    width: 100%;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    z-index: 3;
    width: 100%;
    border-bottom: 1px lightgreen solid;

}
.icons #menu-btn{
    display: none;
}
.icons #menu-btn:hover{
    color: lightgreen;
    transition-duration: 0.21s;
}
.icons{
    cursor: pointer;
}
.nav{
    display: flex;
    padding: 0 6%;
    justify-content: space-between;
    align-items: center;
}
.nav.active{
    right: 0;
}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}
.nav-links ul li::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: lightgreen;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}

.logo{
    color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 22px;
    padding: 0 6%;
}
.logo a{
    text-decoration: none;
    color: whitesmoke;
}
.logo a:hover{
    color: lightgreen;
}
.table{
    width: 500px;
    margin: 10vh auto;
    /*background: darkgray;*/
    background: transparent;

    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    padding: 17px 0;

}
.title{
    text-align: center;
    margin-top: 50px;
}
.title .color{
    color: lightgreen;
}
table{
    width: 100%;
    overflow-y:scroll ;

    height: 300px;
    display: block;
    border-radius: 10px;
    border-spacing: 0;
}
table, th, td {
    padding: 10px 15px ;
}
table td{
    border: 1px solid rgba(255,255,245,10%);
}
.table .data{
    text-align: center;
}
table th{
    border: 0;
    background: #393939;
}
tr:nth-child(odd){

}
.cards{
    display: flex;
    justify-content: center;
}
.card{
    width: 250px;
    height: 20vh;
    background: whitesmoke;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 60px 40px -7px;
}
.card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.card:hover{
    transform: scale(1.1);
    transition-duration: 0.7s;
}


@media (max-width: 898px) {
    .cards{
        padding-bottom: 10em;
    }
    .icons #menu-btn{
        display: inline-block;
        padding-right: 1em;
    }
    header .nav{
        position: absolute;
        top: 6.2%;
        height: calc(100vh);
        right: -100%;
        background: linear-gradient(30deg, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        align-items: flex-start;

    }
    header .nav .nav-links .menu li {
        display: block;
        margin: 1.5rem;
    }



}

